name: Deploy Node.js API to Elastic Beanstalk

on:
  push:
    branches:
      - production

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Dependencies
        run: npm install

      - name: Create .env file
        run: |
          echo "PORT=${{ secrets.PORT }}" >> .env
          echo "MONGO_URI=${{ secrets.MONGO_URI }}" >> .env
          echo "AWS_ACCESS_KEY=${{ secrets.AWS_ACCESS_KEY }}" >> .env
          echo "AWS_SECRET_KEY=${{ secrets.AWS_SECRET_KEY }}" >> .env
          echo "AWS_REGION=${{ secrets.AWS_REGION }}" >> .env
          echo "AWS_BUCKET_NAME=${{ secrets.AWS_BUCKET_NAME }}" >> .env


      - name: Create ZIP Package for Beanstalk
        run: |
          zip -r deploy.zip . -x ".git/*" ".github/*" "tests/*" "README.md"

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Upload ZIP to S3
        run: |
          aws s3 cp deploy.zip s3://${{ secrets.S3_BUCKET }}/deploy-${{ github.run_number }}.zip

      - name: Create Beanstalk Application Version
        run: |
          aws elasticbeanstalk create-application-version \
            --application-name test-api \
            --version-label "v-github-${{ github.run_number }}" \
            --source-bundle S3Bucket=${{ secrets.S3_BUCKET }},S3Key=deploy-${{ github.run_number }}.zip

      - name: Update Beanstalk Environment
        run: |
          aws elasticbeanstalk update-environment \
            --environment-name Test-api-env \
            --version-label "v-github-${{ github.run_number }}"